header{
    background-color: #2181d5;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100%;
}
body{
    margin-top: 15vh;
}